[data-md-color-scheme="xzq-light"] {
  /* 背景色使用HSV易于理解改动，因为背景一套色彩需要调整（亮度V，色调H和饱和度S不用变） */
  /* 点击色块可以切换颜色选项 */

  /* 页面背景 */
  --md-default-bg-color: #fbf1d7;

  /* 代码块 */
  --md-code-bg-color: hsl(43, 82%, 88%);

  /* 导航栏 */
  --md-primary-fg-color: #5a804f;
  --md-primary-fg-color--light: #769c18;
  --md-primary-fg-color--dark: #364d30;
  --md-primary-bg-color: #ffffff;/* 导航栏字体 */
  --md-primary-bg-color--light: #364d30;/* 导航栏搜索 */
  
  /* 网页链接 */
  --md-typeset-a-color: var(--md-primary-fg-color);

  /* 高亮交互 */
  --md-accent-fg-color: #769c18;
  --md-accent-bg-color: #ffffff;/* 高亮字色-见返回顶部 */
  --md-accent-bg-color--light: #ff0000;/* 暂时未知 */
  --md-accent-fg-color--transparent: #c9d3af;/* 高亮透明-见搜索选中 */

  --md-admonition-fg-color: var(--md-default-fg-color);
  --md-admonition-bg-color: var(--md-default-bg-color);

}
