[data-md-color-scheme="xzq-light"] {
  /* 背景色使用HSV易于理解改动，因为背景一套色彩需要调整（亮度V，色调H和饱和度S不用变） */
  /* 点击色块可以切换颜色选项 */

  /* 页面背景 */
  --md-default-bg-color: #fbf1d7;

  /* 代码块 */
  --md-code-bg-color: hsl(43, 82%, 88%);

  /* 导航栏 */
  --md-primary-fg-color: #5a804f;
  --md-primary-fg-color--light: #769c18;
  --md-primary-fg-color--dark: #364d30;
  --md-primary-bg-color: #ffffff;/* 导航栏字体 */
  --md-primary-bg-color--light: #364d30;/* 导航栏搜索 */
  
  /* 网页链接 */
  --md-typeset-a-color: var(--md-primary-fg-color);

  /* 高亮交互 */
  --md-accent-fg-color: #769c18;
  --md-accent-bg-color: #ffffff;/* 高亮字色-见返回顶部 */
  --md-accent-bg-color--light: #ff0000;/* 暂时未知 */
  --md-accent-fg-color--transparent: #c9d3af;/* 高亮透明-见搜索选中 */

  --md-admonition-fg-color: var(--md-default-fg-color);
  --md-admonition-bg-color: var(--md-default-bg-color);

}

[data-md-color-scheme="xzq-dark"] {
  /* 背景色使用HSV易于理解改动，因为背景一套色彩需要调整（亮度V，色调H和饱和度S不用变） */
  /* 点击色块可以切换颜色选项 */
  /* 页面背景 */
  --md-default-bg-color: #484849;
  --md-default-fg-color: #ffffff;
  --md-default-fg-color--light: #ffffff;


  /* 代码块 */
  --md-code-bg-color: hsl(240, 1%, 32%);

  /* 导航栏 */
  --md-primary-fg-color: #2b2b2b;
  --md-primary-fg-color--light: #545454;
  --md-primary-fg-color--dark: #141414;
  --md-primary-bg-color: #ffffff;/* 导航栏字体 */
  --md-primary-bg-color--light: #ffffff;/* 导航栏搜索 */
  
  /* 网页链接 */
  --md-typeset-a-color: var(--md-primary-fg-color);

  /* 高亮交互 */
  --md-accent-fg-color: #5a5a5b;
  --md-accent-bg-color: #ffffff;/* 高亮字色-见返回顶部 */
  --md-accent-bg-color--light: #ff0000;/* 暂时未知 */
  --md-accent-fg-color--transparent: #c3c3c3;/* 高亮透明-见搜索选中 */

  --md-admonition-fg-color: var(--md-default-fg-color);
  --md-admonition-bg-color: var(--md-default-bg-color);

}

[data-md-color-scheme="test"] {
    --md-hue: 10;
  --md-saturation: 3%;
  --md-lightness: 10%;
  --md-default-fg-color: hsla(var(--md-hue), 75%, 95%, 1);
  --md-default-fg-color--light: hsla(var(--md-hue), 75%, 90%, 0.62);
  --md-default-fg-color--lighter: hsla(var(--md-hue), 75%, 90%, 0.32);
  --md-default-fg-color--lightest: hsla(var(--md-hue), 75%, 90%, 0.12);
  /* --md-default-bg-color: hsla(var(--md-hue), var(--md-saturation), var(--md-lightness), 1);
  --md-default-bg-color--light: hsla(var(--md-hue), var(--md-saturation), var(--md-lightness), 0.54);
  --md-default-bg-color--lighter: hsla(var(--md-hue), var(--md-saturation), var(--md-lightness), 0.26);
  --md-default-bg-color--lightest: hsla(var(--md-hue), var(--md-saturation), var(--md-lightness), 0.07); */
  --md-code-fg-color: hsla(var(--md-hue), 18%, 86%, 1);
  --md-code-bg-color: hsla(var(--md-hue), 3%, 17%, 1);
  --md-code-hl-color: #4287ff26;
  --md-code-hl-number-color: #e6695b;
  --md-code-hl-special-color: #f06090;
  --md-code-hl-function-color: #c973d9;
  --md-code-hl-constant-color: #9383e2;
  --md-code-hl-keyword-color: #6791e0;
  --md-code-hl-string-color: #2fb170;
  --md-code-hl-name-color: var(--md-code-fg-color);
  --md-code-hl-operator-color: var(--md-default-fg-color--light);
  --md-code-hl-punctuation-color: var(--md-default-fg-color--light);
  --md-code-hl-comment-color: var(--md-default-fg-color--light);
  --md-code-hl-generic-color: var(--md-default-fg-color--light);
  --md-code-hl-variable-color: var(--md-default-fg-color--light);
  --md-typeset-color: var(--md-default-fg-color);
  /* --md-typeset-a-color: var(--md-primary-fg-color); */
  --md-typeset-mark-color: #ffb7424d;
  --md-typeset-kbd-color: hsla(var(--md-hue), 15%, 94%, 0.12);
  --md-typeset-kbd-accent-color: hsla(var(--md-hue), 15%, 94%, 0.2);
  --md-typeset-kbd-border-color: hsla(var(--md-hue), 15%, 14%, 1);
  --md-typeset-table-color: hsla(var(--md-hue), 75%, 95%, 0.12);
  --md-typeset-table-color--light: hsla(var(--md-hue), 75%, 95%, 0.035);
  --md-admonition-fg-color: var(--md-default-fg-color);
  --md-admonition-bg-color: var(--md-default-bg-color);
  --md-footer-bg-color: hsla(var(--md-hue), 15%, 12%, 0.87);
  --md-footer-bg-color--dark: hsla(var(--md-hue), 15%, 10%, 1);
  --md-shadow-z1: 0 0.2rem 0.5rem #0003, 0 0 0.05rem #0000001a;
  --md-shadow-z2: 0 0.2rem 0.5rem #0000004d, 0 0 0.05rem #00000040;
  --md-shadow-z3: 0 0.2rem 0.5rem #0006, 0 0 0.05rem #00000059;
  color-scheme: dark;

  --md-primary-fg-color: hsl(269, 100%, 50%);
  --md-primary-fg-color--light: #2100f7;
  --md-primary-fg-color--dark: #4e496f;
  --md-primary-bg-color: #ff0000;
  --md-primary-bg-color--light: #ff0000b3;

  --md-typeset-a-color: hsl(0, 0%, 0%);

  --md-accent-fg-color: hsl(335, 100%, 50%);
  --md-accent-fg-color--transparent: #f500561a;
  --md-accent-bg-color: #ff0000;
  --md-accent-bg-color--light: #ff0000b3;
}